python -m venv venv
venv\Scripts\activate.bat
python -m pip install django
pip install django-widget-tweaks
pip install pillow
pip install -U django-jazzmin
pip install django-extensions
python manage.py makemigrations
python manage.py migrate
python manage.py runserver


asgiref==3.6.0
Django==4.2.1
django-extensions==3.2.1
django-jazzmin==2.6.0
django-widget-tweaks==1.4.12
Pillow==9.5.0
pytz==2023.3
sqlparse==0.4.4